DATABASE_URL="postgresql://…"
ADMINS="0x…,0x…,0x…"
OPENAI_API_KEY="sk-…"
MAINNET_RPC_URL="https://eth-mainnet…"
DEGEN_RPC_URL="https://degen-mainnet…"
ARBITRUM_RPC_URL="https://arbitrum-mainnet…"
BASE_RPC_URL="https://base-mainnet…"
NEYNAR_CLIENT_ID="b02d…"