@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'GeistMono-Regular';
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

body {
  font-family: 'GeistMono-Regular';
  min-height: 100vh;
  background-size: cover;
  text-transform: lowercase;
  background: linear-gradient(to bottom, #2a81d5, #70aae2, #6fa9e1, #2a81d5);
}

.wallet:hover + .wallet-address {
  opacity: 1;
}

.wallet-address {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.wallet-address:hover {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.aspect-w-1 {
  width: 100%;
}

.aspect-h-1 {
  height: 0;
  padding-bottom: 100%;
}

button {
  text-transform: lowercase;
}

.otherClaims .submitForVote {
  display: none;
}

.votingStarted .submitForVote {
  display: none;
}

.bountyItem.pendingClaims .bg-gradient {
  background: linear-gradient(to right, #2582d9, #f15e5f);
  transition: all 0.3s ease; /* Add transition property */
}

.bountyItem.pendingClaims:hover .bg-gradient {
  background: linear-gradient(to left, #2582d9, #f15e5f);
}

.bg-whiteblue {
  background: #80b4ebd8;
}

.button .normal {
  display: block;
}

.button .press {
  display: none;
}

.button:hover .press {
  display: block;
}

.button:hover .normal {
  display: none;
}

.bg-blur {
  background-color: rgba(209, 236, 255, 0.2);
  color: white;
  border-radius: 0.75rem;
  backdrop-filter: blur(4px);
}

.bountyItem.pendingClaims > div > div.borderBox {
  border: 1px solid #cf5d5d;
}

.bountyItem.pendingClaims:hover > div > div.borderBox {
  border: 1px solid #4f80c5;
}

.bountyItem.noClaims > div > div.borderBox {
  border: 1px solid white;
}

.bountyItem.canceled > div > div.borderBox {
  border: 1px solid white;
}

.bountyItem.pendingClaims.canceled:hover > div > div.borderBox {
  border: 1px solid white;
}

.Toastify__toast-theme--light {
  background-color: rgba(209, 236, 255, 0.2) !important;
  border: 1px solid white !important;
  color: white !important;
  backdrop-filter: blur(4px) !important;
}
.Toastify__close-button > svg {
  fill: white !important;
}
